.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#info {
    margin-left: 150px;
    margin-right: 150px;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}


#title {
    font-family: Monaco;
    font-size: 40px;
}


.fa {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}

#placeholder {
    width: 50%;
    height: 50%
}